In [2]:
import pandas as pd

In [13]:
arr=pd.read_csv('../music/experiment/ArraytrackResults.txt', delimiter='\t')

In [14]:
arr.head()

,ant,subArrNum,seed,SNR,Kfactor,realAngle,estAngle,stdAngle,errorAngle,nextAngle,stdNextAngle,backwSmth,packetNum
0,8,3,1,8.3404,16.5439,39.6584,39.6833,0.059209,0.024925,999.0,999.0,1,30
1,8,3,1,8.3404,16.5439,39.6584,39.6900,0.073786,0.031591,999.0,999.0,1,10
2,8,3,1,8.3404,16.5439,39.6584,39.6833,0.059209,0.024925,999.0,999.0,0,30
3,8,3,1,8.3404,16.5439,39.6584,39.6900,0.073786,0.031591,999.0,999.0,0,10
4,8,1,1,8.3404,16.5439,39.6584,39.7367,0.049013,0.078258,999.0,999.0,1,30

In [15]:
len(arr[arr.errorAngle > 5])

24582

In [16]:
ori=pd.read_csv('../music/experiment/OrionResults.txt', delimiter='\t')

In [17]:
ori.head())

,ant,seed,SNR,Kfactor,realAngle,estAngle,stdAngle,errorAngle,nextAngle,stdNextAngle,packetNum,packetPerSpec,bandwidth,decimation
0,8,1,8.3404,16.5439,39.6584,39.6733,0.070373,0.014925,-54.1333,2.8215,10,2,40,0
1,8,1,8.3404,16.5439,39.6584,39.7200,0.044721,0.061591,-55.6200,1.8116,10,2,40,0
2,8,1,8.3404,16.5439,39.6584,39.8167,0.101990,0.158260,-15.1333,3.6398,10,1,40,0
3,8,1,8.3404,16.5439,39.6584,39.8100,0.128670,0.151590,-0.9100,3.3044,10,1,40,0
4,8,1,8.3404,16.5439,39.6584,39.8733,0.070373,0.214920,-51.6000,2.9367,10,2,40,1

In [13]:
len(ori[ori.errorAngle > 0])

640000

In [14]:
len(ori[ori.errorAngle > 5])

139530

In [16]:
ori_gr=ori.drop(columns=['SNR', 'Kfactor', 'seed', 'realAngle', 'estAngle', 'stdAngle', 'nextAngle', 'stdNextAngle'])

In [18]:
pd.DataFrame(ori_gr.groupby(by=['ant', 'bandwidth', 'packetNum', 'packetPerSpec', 'decimation']).mean())

                                                  errorAngle
ant bandwidth packetNum packetPerSpec decimation
4   20        10        1             0            17.923508
                                      1            18.593041
                        2             0            17.409769
                                      1            18.659894
    40        10        1             0            13.799084
                                      1            15.306967
                        2             0            13.591583
                                      1            15.374555
8   20        10        1             0            13.186920
                                      1            13.986660
                        2             0            13.478583
                                      1            14.158947
    40        10        1             0            11.206132
                                      1            11.919342
                        2             0            11.921161
                                      1            12.603290

In [33]:
arr_gr=arr.drop(columns=['SNR', 'Kfactor', 'seed', 'realAngle', 'estAngle', 'stdAngle', 'nextAngle', 'stdNextAngle'])

In [49]:
arr[arr.nextAngle != 999]

,ant,subArrNum,seed,SNR,Kfactor,realAngle,estAngle,stdAngle,errorAngle,nextAngle,stdNextAngle,backwSmth,packetNum
64,8,3,5,4.4399,19.6148,66.7318,66.6300,0.180330,0.101820,-47.3533,11.7742,1,30
65,8,3,5,4.4399,19.6148,66.7318,66.6500,0.164990,0.081815,-24.4200,10.6274,1,10
68,8,1,5,4.4399,19.6148,66.7318,66.5000,0.254610,0.231820,-23.1667,6.4460,1,30
69,8,1,5,4.4399,19.6148,66.7318,66.5800,0.265830,0.151820,-21.6500,4.8654,1,10
72,4,2,5,4.4399,19.6148,66.7318,67.2467,0.505650,0.514850,-24.5500,6.9895,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159973,8,1,9999,16.4678,5.8899,-50.6515,-50.2700,0.048305,0.381510,77.1000,2.1087,1,10
159974,8,1,9999,16.4678,5.8899,-50.6515,-50.2367,0.085029,0.414840,64.6367,38.9242,0,30
159975,8,1,9999,16.4678,5.8899,-50.6515,-50.2400,0.051640,0.411510,77.1200,2.1540,0,10
159988,8,1,10000,10.9094,7.0777,-59.0642,-59.8267,0.063968,0.762420,-4.6367,43.6980,1,30
159989,8,1,10000,10.9094,7.0777,-59.0642,-59.8300,0.067495,0.765760,11.8900,38.6335,1,10

In [70]:
pd.DataFrame(arr[(arr.errorAngle < 10) | (arr.nextAngle == 999)].groupby(by=['ant', 'backwSmth', 'packetNum']).mean())

                         subArrNum         seed        SNR   Kfactor  \
ant backwSmth packetNum
4   0         10          1.502204  5079.155352  10.168480  6.684266
              30          1.501706  5077.176230  10.169560  6.684206
    1         10          1.503084  5120.131306  10.283231  6.888828
              30          1.503660  5112.243051  10.288916  6.883325
8   0         10          2.005007  5058.026393  10.113986  6.646931
              30          2.005967  5060.550094  10.125783  6.662422
    1         10          2.009787  5084.172065  10.242925  6.794700
              30          2.010490  5070.069590  10.243681  6.774592

                         realAngle  estAngle  stdAngle  errorAngle  \
ant backwSmth packetNum
4   0         10         -0.051097 -0.301325  3.376491    7.470219
              30         -0.081086 -0.332962  3.801780    7.484920
    1         10         -0.203720 -0.240321  2.254888    4.865046
              30         -0.203896 -0.240504  2.533275    4.864219
8   0         10         -0.323134 -0.365862  1.271735    3.055382
              30         -0.279831 -0.347731  1.464986    3.009736
    1         10         -0.371571 -0.321383  0.869167    1.829250
              30         -0.436550 -0.372342  0.978595    1.790986

                          nextAngle  stdNextAngle
ant backwSmth packetNum
4   0         10         735.869219    739.675302
              30         736.240202    740.373166
    1         10         392.764624    399.571713
              30         392.516593    399.881694
8   0         10         431.283093    436.510534
              30         432.751675    438.680479
    1         10         163.264497    169.065414
              30         162.996337    169.787224

In [26]:
pd.DataFrame(arr_gr.groupby(by=['ant', 'backwSmth', 'packetNum']).mean())

                         subArrNum  errorAngle
ant backwSmth packetNum
4   0         10               1.5    9.653352
              30               1.5    9.677044
    1         10               1.5    9.793960
              30               1.5    9.753982
8   0         10               2.0    5.635112
              30               2.0    5.763855
    1         10               2.0    6.744307
              30               2.0    6.769971

In [73]:
pd.DataFrame(ori[(ori.errorAngle < 10) | (ori.nextAngle == 999)].groupby(by=['ant', 'bandwidth', 'packetPerSpec', 'decimation', 'packetNum']).mean()).drop(columns=['seed', 'SNR', 'Kfactor', 'realAngle', 'estAngle', 'nextAngle', 'stdNextAngle'])

                                                  stdAngle  errorAngle
ant bandwidth packetPerSpec decimation packetNum
4   20        1             0          10         1.655274    2.095977
                            1          10         1.581946    2.069431
              2             0          10         1.311666    2.018757
                            1          10         1.269635    1.989878
    40        1             0          10         1.259224    1.654035
                            1          10         1.161099    1.620407
              2             0          10         0.948262    1.636753
                            1          10         0.906127    1.602074
8   20        1             0          10         0.486119    0.840135
                            1          10         0.465269    0.844772
              2             0          10         0.527009    0.889458
                            1          10         0.469452    0.880072
    40        1             0          10         0.494872    0.802487
                            1          10         0.419531    0.790507
              2             0          10         0.510969    0.832025
                            1          10         0.397244    0.802742

In [76]:
arr['errorNextAngle'] = abs(arr.nextAngle - arr.realAngle)

In [1]:
arr[arr.errorNextAngle < arr.errorAngle]

NameError: name 'arr' is not defined

In [9]:
sp=pd.read_csv('SpotfiClusters/SpotfiResults.txt', delimiter='\t')

In [11]:
sp.head()

,ant,seed,packetNum,packetPerSpec,bandwidth,decimation,clSize1,stdA1,stdD1,meanA1,...,clSize4,stdA4,stdD4,meanA4,meanD4,clSize5,stdA5,stdD5,meanA5,meanD5
0,1,2,3,NaN,NaN,5,5,7.000,8.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,1,30,1.0,20.0,0,7,3.182,62.206,22.434,...,3.0,3.496,20.429,10.089,133.248,3.0,5.716,13.652,58.022,99.697
2,8,1,30,1.0,20.0,0,30,0.000,0.000,40.000,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,8,1,30,1.0,20.0,0,30,0.000,0.000,40.000,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN